[Unit]
Description=Service which Maintains an instance of the Phonix Driver.
After=syslog.target

[Service]
type=simple
WorkingDirectory=/home/pi/Phonix/
ExecStart=/usr/bin/python3 /home/pi/Phonix/Driver.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
